{% extends 'main/base.html' %}

{% block content %}

    <div class="row header mt-1">
        <div class="col-8 col-lg-8 offset-lg-1 col-xl-7 offset-xl-2" id="player-container"
             hx-get="{% url "next_song" %}"
             hx-trigger="load"
             hx-target="#player-container"
             hx-swap="innerHTML">
            <!-- Player content will be loaded here after ranking-container is loaded -->
        </div>

        <div class="col-4 col-lg-3">
            <div id="rating-container"
                 hx-get="{% url 'next_rating' %}"
                 hx-target="#rating-container"
                 hx-swap="innerHTML"
                 hx-trigger="loadNextRating from:body">
                <!-- Rating container will load here -->
            </div>
        </div>
    </div>


    {% include 'main/snippet_navigation.html' %}


    <div id="main-container">
        <!-- Main content will be displayed here -->
    </div>

    <script>
        document.addEventListener('htmx:trigger', function (event) {
            console.log("HTMX:trigger: ", event.detail);
        });
    </script>
{% endblock %}
