{% load static %}
{% if match %}
    {% for song in match %}
        <a class="text-reset text-decoration-none" href="#"
           hx-get="{% url 'next_rating' %}?winner_id={{ song.id }}"
           hx-target="#rating-container"
           hx-swap="innerHTML">
            <div class="card compact-card">
                <div class="card-body">
                    <h5 class="card-title title-font ellipsis">{{ song.name }}</h5>
                    <h6 class="card-subtitle text-muted artist-font">{{ song.artist.name }}</h6>
                </div>
            </div>
        </a>
    {% endfor %}
{% endif %}
