{% load fmt %}
<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between align-items-center">
            <h5>
                {{ objs.paginator.count }} songs
            </h5>
            <div class="text-end">
                {% include 'main/snippet_pagination.html' with objs=objs %}
            </div>
        </div>

        <table class="table table-striped table-sm small-font-table">
            <thead>
            <tr>
                <th class="text-muted">Rank</th>
                <th colspan="2" class="text-center">Rating</th>
                <th style="padding-left: 2em;">Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Plays</th>
                <th>Last Played</th>
            </tr>
            </thead>
            <tbody>
            {% for song in objs %}
                <tr id="song-{{ song.id }}"
                    class="{% if song.id == current.id %}fw-bold{% endif %}">
                    <td class="text-muted">{{ song.rank }}</td>
                    <td class="text-end">
                        <span class="text-muted small">{{ song.count_rated }} @</span>
                        {{ song.rating|perc:1 }}
                    </td>
                    <td>{% iconrank song.rating 5 max_rating min_rating %}</td>
                    <td>
                        <a class="play-icon"
                           href="#"
                           hx-get="/next-song/?demand=song_{{ song.id }}"
                           hx-target="#player-container"
                           hx-swap="innerHTML">
                            <i class="bi bi-play-circle"></i>
                        </a>
                        <span class="text-muted small">{{ song.track_number }}</span>
                        {{ song.name }}
                    </td>
                    <td>{{ song.artist.name }}</td>
                    <td>
                        <a hx-get="{% url 'album' album_id=song.album.id %}"
                           hx-target="#main-container">
                            <img class="img-fluid" style="height: 1.6em;"
                                 src="{% url 'album_art' song.id %}"/> {{ song.album.name }}<br/>
                        </a>
                    </td>
                    <td>{{ song.track_length|dur }}</td>
                    <td>{{ song.count_played }}</td>
                    <td>{{ song.played_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-end">
            {% include 'main/snippet_pagination.html' with objs=objs %}
        </div>

    </div>
</div>
