{% load static %}
{% load fmt %}
<div class="row mt-1">

    <div class="col-3 text-end">
        <p style="">
            <img class="img-fluid img-thumbnail" src="{% url 'album_art' song.id %}"
                 style="max-height: 12em;"
                 alt="{{ song.album.name }} album art"/>
        </p>
    </div>

    <div class="col-9" id="songData"
         data-rating="{{ song.rating }}"
         data-songtitle="{{ song.name }} | {{ song.artist.name }}"
         data-songsrc="{% static song.rel_path %}"
    >
        <h2 style="margin-bottom: 0.2em;">
            {{ song.name }}
            <span style="font-size: 0.5em; display: block; line-height: 0.15em; padding-left: 0.2em;">
                <br/>{% iconrank song.rating 5 1 0 %}&nbsp;
            </span>
        </h2>
        <h3><em>{{ song.artist.name }}</em></h3>
        <h5>{{ song.album.name }}</h5>
        {% if filter_value %}
            <br/>
            <p style="color: #666">
                Only playing: {{ filter_value.name }}
                <a class="play-icon"
                   href="#"
                   hx-get="/next-song/?remove_facet=1"
                   hx-target="#player-container"
                   hx-swap="innerHTML">
                    &nbsp;<i class="bi bi-trash" style="font-size: 0.8em"></i>
                </a>
            </p>
        {% endif %}
    </div>

</div>
