{% load fmt %}
<div class="row artist-view">
    <div class="col text-center">

        <h3 class="artist-font fs-2 my-3">
            <a class="play-icon"
               href="#"
               hx-get="/next-song/?demand=artist_{{ artist.id }}"
               hx-target="#player-container"
               hx-swap="innerHTML">
                <i class="bi bi-play-circle"></i>
            </a>
            {{ artist.name }}
        </h3>
        <p>
            <span class="me-3"><strong>#{{ artist.rank }}</strong></span>
            <a class="no-blue" href="{{ artist.wiki_link }}" target="_blank">
                <i class="bi bi-wikipedia"></i>
            </a>
            {% include 'main/snippet_genre.html' with facet='artist' obj=artist %}
        </p>

        <div class="container">
            <div class="row">
                {% for album in albums %}
                    <div class="col-4 col-lg-3 col-xl-2 my-3">

                        <a id="albumViewLink" class="no-blue"
                           href="#"
                           hx-get="/album/{{ album.id }}/"
                           hx-target="#main-container"
                           hx-swap="innerHTML"
                           hx-trigger="click">

                            <div class="card h-100">

                                <img class="card-img-top"
                                     src="{% url 'album_art' album.songs.first.id %}"/>

                                <div class="card-body">
                                    <h5 class="card-title album-font my-2">
                                        {{ album.name }}
                                        <br/>
                                        <sub>#{{ album.rank }}</sub>
                                    </h5>
                                    <p class="card-text">{{ album.rating|perc }}</p>
                                </div>

                                <div class="card-footer">
                                    <small class="text-muted">{{ album.year }}</small>
                                </div>

                            </div>
                        </a>

                    </div>
                {% endfor %}
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5>Top {{ percentile }} percentile songs</h5>
                    <p>{{ songs|length }} / {{ artist.songs.count }} songs</p>
                    <table class="table table-striped table-sm small-font-table table-hover text-start">
                        <thead>
                        <tr>
                            <th class="text-muted">Rank</th>
                            <th colspan="2" class="text-center d-none d-lg-table-cell">Rating</th>
                            <th style="padding-left: 2em;">Name</th>
                            <th>Album</th>
                            <th class="d-none d-xl-table-cell">Duration</th>
                            <th class="d-none d-lg-table-cell">Plays</th>
                            <th class="d-none d-xl-table-cell">Last Played</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for song in songs %}
                            <tr id="song-{{ song.id }}"
                                class="{% if song.id == current.id %}fw-bold{% endif %}">
                                <td class="text-muted">{{ song.rank }}</td>
                                <td class="text-end d-none d-lg-table-cell">
                                    <span class="text-muted small">{{ song.count_rated }} @</span>
                                    {{ song.rating|perc:1 }}
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    {% iconrank song.rating 5 1 0 %}
                                </td>
                                <td class="ellipses">
                                    <a class="play-icon"
                                       href="#"
                                       hx-get="/next-song/?demand=song_{{ song.id }}"
                                       hx-target="#player-container"
                                       hx-swap="innerHTML">
                                        <i class="bi bi-play-circle"></i>
                                    </a>
                                    <span class="text-muted small">{{ song.track_number }}</span>
                                    {{ song.name }}
                                </td>
                                <td>
                                    <a hx-get="{% url 'album' album_id=song.album.id %}"
                                       hx-target="#main-container">
                                        <img class="img-fluid" style="height: 1.6em;"
                                             src="{% url 'album_art' song.id %}"/> {{ song.album.name }}<br/>
                                    </a>
                                </td>
                                <td class="d-none d-xl-table-cell">{{ song.track_length|dur }}</td>
                                <td class="d-none d-lg-table-cell">{{ song.count_played }}</td>
                                <td class="d-none d-xl-table-cell">{{ song.played_at|days_ago }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>
