{% load fmt %}
<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between align-items-center">
            <h5>
                {{ objs.paginator.count }} objs
            </h5>
            <div class="text-end">
                {% include 'main/snippet_pagination.html' with objs=objs facet=facet %}
            </div>
        </div>

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="text-muted">#</th>
                <th colspan="2" class="text-center">Rating</th>
                <th>Name</th>
                <th>Albums</th>
                <th>Plays</th>
                <th>Last Played</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in objs %}
                <tr id="artist-{{ artist.id }}"
                    class="{% if artist.id == current.artist.id %}fw-bold{% endif %}">
                    <td class="text-muted">{{ artist.rank }}</td>
                    <td class="text-end">
                        <span class="text-muted small">{{ artist.count_rated }} @</span>
                        {{ artist.rating|perc }}
                    </td>
                    <td>{% iconrank artist.rating 5 max_rating min_rating %}</td>
                    <td>{{ artist.name }}</td>
                    <td>
                        {% for album in artist.albums.all %}
                            <a hx-get="{% url 'album' album_id=album.id %}"
                               hx-target="#main-container">
                                <img class="img-fluid" title=" {{ album.name }}" style="height: 2em;"
                                     src="{% url 'album_art' album.songs.first.id %}"/>
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {{ artist.count_played }} <span
                            class="text-muted small">({{ artist.played_at }})</span>
                    </td>
                    <td>{{ artist.played_at }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="text-end">
            {% include 'main/snippet_pagination.html' with objs=objs facet=facet %}
        </div>

    </div>
</div>
