{% load static %}
{% load fmt %}
<div class="row">

    <div class="col-4 col-lg-3 text-end">
        <p style="">
            <img class="img-fluid img-thumbnail" src="{% url 'album_art' song.id %}"
                 style="max-height: 13em;"
                 alt="{{ song.album.name }} album art"/>
        </p>
    </div>

    <div class="col-8 col-lg-9" id="songData"
         data-rating="{{ song.rating }}"
         data-songtitle="{{ song.name }} | {{ song.artist.name }}"
         data-songsrc="{% static song.rel_path %}"
    >
        <h2 class="mb-2">
            {{ song.name }}
            <span class="title-icon-rank">
                <br/>{% iconrank song.rating 5 1 0 %}&nbsp;
            </span>
        </h2>
        <h3 class=""><em>{{ song.artist.name }}</em></h3>
        <h5 class="">{{ song.album.name }}</h5>
        {% if filter_value %}
            <br/>
            <p style="color: #666">
                Only playing: {{ filter_value.name }}
                <a class="play-icon"
                   href="#"
                   hx-get="/next-song/?remove_facet=1"
                   hx-target="#player-container"
                   hx-swap="innerHTML">
                    &nbsp;<i class="bi bi-trash" style="font-size: 0.8em"></i>
                </a>
            </p>
        {% endif %}
    </div>

</div>
