{% load static %}
{% load fmt %}
<div class="row mt-1">

    <div class="col-3 text-end">
        <p style=""><img class="img-fluid img-thumbnail" src="{% url 'album_art' song.id %}"
                         style="max-height: 12em;"
                         alt="{{ song.album.name }} album art"/>
        </p>
    </div>

    <div class="col-9" id="songData"
         data-rating="{{ song.rating }}"
         data-songtitle="{{ song.name|escapejs }} | {{ song.artist.name|escapejs }}"
         data-songsrc="{% static song.rel_path %}"
    >
        <h2><span class="text-muted small">{{ song|trck }}</span> {{ song.name }}</h2>
        <h3>{{ song.artist.name }}</h3>
        <h5><span class="text-muted small">{{ song.album.year }}</span> {{ song.album.name }}</h5>
    </div>

</div>
