<!-- Pagination controls -->
<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <!-- First Page Button -->
        {% if objs.has_previous and objs.number > 5 %}
            <li class="page-item">
                <a class="page-link" href="#"
                   hx-get="/ranking/{{ facet }}/?page=1"
                   hx-target="#main-container"
                   hx-swap="innerHTML">
                    <i class="bi bi-chevron-bar-left"></i>
                </a>
            </li>
        {% endif %}

        <!-- Previous 5 and Next 5 Page Numbers -->
        {% for i in objs.paginator.page_range %}
            {% if i >= objs.number|add:-4 and i <= objs.number|add:4 %}
                <li class="page-item {% if i == objs.number %}active{% endif %}">
                    <a class="page-link" href="#"
                       hx-get="/ranking/{{ facet }}/?page={{ i }}"
                       hx-target="#main-container"
                       hx-swap="innerHTML">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Last Page Button -->
        {% if objs.has_next and objs.number < objs.paginator.num_pages|add:-4 %}
            <li class="page-item">
                <a class="page-link" href="#"
                   hx-get="/ranking/{{ facet }}/?page={{ objs.paginator.num_pages }}"
                   hx-target="#main-container"
                   hx-swap="innerHTML">
                    <i class="bi bi-chevron-bar-right"></i>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>
