<div class="row mb-2">
    <div class="col">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <!-- Left-aligned block -->
                <div class="d-flex justify-content-start col">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3">
                            <a class="nav-link"
                               href="#"
                               hx-get="/ranking/artists/"
                               hx-target="#main-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-person-fill"></i>
                                <span class="d-none d-xl-inline">Artists</span>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link"
                               href="#"
                               hx-get="/ranking/albums/"
                               hx-target="#main-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-disc-fill"></i>
                                <span class="d-none d-xl-inline">Albums</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                               hx-get="/list/song/"
                               hx-target="#main-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-collection-play-fill"></i>
                                <span class="d-none d-xl-inline">Songs</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Center-aligned block -->
                <div class="d-flex justify-content-center col flex-grow-1">
                    <ul class="navbar-nav d-flex flex-row align-items-center">
                        <li class="nav-item">
                            <audio class="plyr audio-player" controls preload="auto">
                                Your browser does not support the audio element.
                            </audio>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link skip-control"
                               href="#"
                               hx-get="/next-song/"
                               hx-target="#player-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-fast-forward-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Right-aligned block -->
                <div class="d-flex justify-content-end col">
                    <ul class="navbar-nav d-flex flex-row align-items-center">
                        <li class="nav-item me-3">
                            <a class="nav-link"
                               href="#"
                               hx-get="/similars/"
                               hx-target="#main-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-person-plus-fill"></i>
                                <span class="d-none d-xl-inline">Similars</span>
                            </a>
                        </li>

                        {% include 'main/partial_filter.html' %}

                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                               hx-get="/stats/"
                               hx-target="#main-container"
                               hx-swap="innerHTML">
                                <i class="bi bi-file-bar-graph-fill"></i>
                                <span class="d-none d-xl-inline">Stats</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>
