{% load fmt %}

<!-- bad albums to be removed -->
<h4 class="d-flex align-items-center gap-2">
    Bad albums

    <button class="btn btn-sm btn-outline-primary border-0 p-1"
            title="Refresh"
            hx-get="{% url 'similars_bad_albums' %}?refresh=lp"
            hx-trigger="click"
            hx-target="#similars_bad_albums"
            hx-swap="innerHTML"
            hx-indicator="this">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
</h4>

<h6>Albums that have the lowest ratings (and all songs were at least played
    twice to give it a chance for a better rating).</h6>

{% if not last_played %}
    <p>No avg last played albums</p>
{% else %}
    <table class="table table-sm table-striped table-hover mt-1">
        <thead>
        <tr>
            <th>Rating</th>
            <th>Album</th>
            <th>Avg played at</th>
            <th>2nd Chance</th>
        </tr>
        </thead>
        <tbody>
        {% for album in last_played %}
            <tr>
                <td class="small">
                    <span class="text-muted">{{ album.count_rated }} @</span>
                    {{ album.rating|perc }}
                </td>
                <td>
                    <a href="#" class="no-blue"
                       hx-get="{% url 'album' album.id %}"
                       hx-target="#main-container"
                       hx-swap="innerHTML">
                        <img class="img-fluid" title="{{ album_name }}"
                         style="height: 1.7em;"
                         src="{% url 'album_art' song_id=album.songs.first.id %}"/>
                        {{ album.name }}
                    </a>
                    <br/>
                    <a href="#" class="no-blue"
                       hx-get="{% url 'artist' album.artist.id %}"
                       hx-target="#main-container"
                       hx-swap="innerHTML">
                       ~ {{ album.artist.name }}
                    </a>
                </td>
                <td>{{ album|played_at_over }}</td>
                <td>{{ album|one_play_cnt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
