.top_height {
    height: 22vh;
}

.min-vh-15 {
    min-height: 15vh;
}


.small-font-table {
    font-size: 0.7em;
}

.nav-link {
    color: lightgray;
    text-decoration: none;
    padding: 0.8em 0.5em;
}

.nav-link:hover {
    color: darkgray;
    text-decoration: none;
}

.navbar {
    overflow: visible; /* Ensure the controls are visible */
}

.skip-controls {
    margin-left: -1em;
    color: gray;
}

.plyr {
    z-index: 1; /* Ensure the audio player is above other elements */
    width: 100%; /* Make sure it’s responsive */
    max-width: 100%; /* Prevent it from exceeding its container */
}

.plyr--audio .plyr__controls {
    background: none !important;
}


/* album view */

.side-album p {
    margin: 0;
    font-size: 0.9rem;
    color: #6d6d6d;
}

.side-album img {
    max-height: 5em;
    /*margin-top: 0.5em;*/
}


table {
    color: darkgray;
}

table a {
    text-decoration: none;
    cursor: pointer;
}

table a:hover {
    color: black;
    text-decoration: none;
}


.card-body {
    padding: 0.5em 0.8em !important;
}


.table-container {
    flex: 1;
    overflow: hidden; /* Prevent scrolling of container */
    width: 100%; /* Ensure the table takes up full width */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container tbody {
    display: block;
    height: 46vh;
    overflow-y: auto;
}

.table-container thead, .table-container tbody tr {
    display: table;
    width: calc(100% - 1em); /* Adjust width if needed */
    table-layout: fixed;
}

.table-container thead {
    width: calc(100% + 1em); /* Adjust width if needed */
}


tr.bg-secondary-subtle {
    background-color: #f0f0f0 !important; /* Use !important to override table-striped */
}


/* Ensure the card height is minimized */
.card.compact-card {
    /*min-height: 150px; !* Set a minimum height for the card *!*/
    /*max-height: 200px; !* Set a maximum height for the card *!*/
    /*overflow: hidden; !* Hide overflow content if it exceeds max-height *!*/
}

/* Adjust padding and margins */
.card-body {
    padding: 0.75rem; /* Reduce padding inside the card */
}

.card-title {
    font-size: 1rem; /* Reduce font size of the title */
    margin-bottom: 0.5rem; /* Add margin to the bottom */
}

.card-subtitle {
    font-size: 0.875rem; /* Reduce font size of subtitles */
    margin-bottom: 0.25rem; /* Add margin to the bottom */
}

/* Optional: Adjust card border radius if needed */
.card {
    border-radius: 0.375rem; /* Rounded corners */
}


.sub1 {
    font-size: 0.8em;
    color: gray;
}

.sub {
    color: lightgray;
    font-size: 0.6em;
}


a.play-icon {
    color: #999;
    padding-right: 0.5em;
    text-decoration: none;
}

.play-icon:hover {
    color: #333;
}


.album-meta {
    display: inline-block;
    text-align: right;
    margin-right: 0.2em;
}

.album-meta span {
    font-size: 0.7em;
    color: #888;
}

.album-details {
    display: inline-block;
}
