/* Default for Extra small XS <= 576 */
html {
    font-size: 70%;
}

/* Large LG > 992 */
@media (min-width: 992px) {
    html {
        font-size: 80%;
    }
}

/* Extra large XL > 1200 */
@media (min-width: 1200px) {
    html {
        font-size: 100%;
    }
}

/************************** HEADER ***********************************/

/* give header a minimum height
    it prevents jumps on load */
.header {
    min-height: 8em;
}

@media (max-width: 576px) {
    #songData h2 {
        font-size: 1.4em;
    }

    #songData h3 {
        font-size: 1.2em;
    }

    #songData h5 {
        font-size: 1em;
    }
}

/************************** NAVIGATION ***********************************/

a.nav-link {
    color: #aaa;
    /*text-decoration: none;*/
    /*padding: 0.8em 0.5em;*/
}

a.nav-link.skip-control {
    color: #444;
    font-size: 1.3em;
}

.plyr {
    width: 20em;
}

/* Hide Plyr volume slider and speed settings on extra small screens */
@media (max-width: 576px) {
    .plyr__controls .plyr__volume {
        display: none; /* Hides the volume slider */
    }

    .plyr__controls .plyr__menu {
        display: none; /* Hides the speed settings icon */
    }
}

/* Large LG > 992 */
@media (min-width: 992px) {
    .plyr {
        width: 40em;
    }
}

/* Extra large XL > 1200 */
@media (min-width: 1200px) {
    .plyr {
        width: 40em;
    }
}

.plyr .plyr__controls {
    background: none !important;
}


/************************** LYRICS ***********************************/

.box-lyrics {
    text-align: left;
    box-shadow: inset -10px 0px 15px -5px rgba(0, 0, 0, 0.2);
    line-height: 1em;
    font-size: 0.8em;
    color: #444;
    position: relative;
}

.box-lyrics span {
    font-size: 0.9em;
    color: #888;
    position: absolute;
    right: 1.1em;
    top: 0.05em;
}

.box-lyrics span:hover {
    cursor: pointer;
}

.box-lyrics p {
    margin-bottom: 0.5em;
}

.box-lyrics p:first-of-type {
    font-style: italic;
}

/************************** TABLES ***********************************/

.small-font-table {
    font-size: 0.9em;
}


/************************** YEAR VIEW ***********************************/

.year-data i {
    color: #666;
}

/************************** ALBUM VIEW  ***********************************/

.av-center p {
    margin: 0;
    font-size: 0.9em;
    color: #444;
}

.av-center img {
    height: 5em;
}

.side-album {
    text-decoration: none;
    font-style: normal;
    color: #666;
    margin-top: 0.5em;
}

.side-album img {
    height: 4em;
    width: 4em;
    padding: 0 0.1em;
}

.side-album p {
    margin: 0;
    font-size: 0.7rem;
}

/**************************  ***********************************/




table {
    color: darkgray;
}

table a {
    text-decoration: none;
    cursor: pointer;
}

table a:hover {
    color: black;
    text-decoration: none;
}


.card-body {
    padding: 0.5em 0.8em !important;
}


.table-container {
    flex: 1;
    overflow: hidden; /* Prevent scrolling of container */
    width: 100%; /* Ensure the table takes up full width */
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container tbody {
    display: block;
    height: 46vh;
    overflow-y: auto;
}

.table-container thead, .table-container tbody tr {
    display: table;
    width: calc(100% - 1em); /* Adjust width if needed */
    table-layout: fixed;
}

.table-container thead {
    width: calc(100% + 1em); /* Adjust width if needed */
}


tr.bg-secondary-subtle {
    background-color: #f0f0f0 !important; /* Use !important to override table-striped */
}


/* Ensure the card height is minimized */
.card.compact-card {
    /*min-height: 150px; !* Set a minimum height for the card *!*/
    /*max-height: 200px; !* Set a maximum height for the card *!*/
    /*overflow: hidden; !* Hide overflow content if it exceeds max-height *!*/
}

/* Adjust padding and margins */
.card-body {
    padding: 0.75rem; /* Reduce padding inside the card */
}

.card-title {
    font-size: 1rem; /* Reduce font size of the title */
    margin-bottom: 0.5rem; /* Add margin to the bottom */
}

.card-subtitle {
    font-size: 0.875rem; /* Reduce font size of subtitles */
    margin-bottom: 0.25rem; /* Add margin to the bottom */
}

/* Optional: Adjust card border radius if needed */
.card {
    border-radius: 0.375rem; /* Rounded corners */
}


.sub1 {
    font-size: 0.8em;
    color: gray;
}

.sub {
    color: lightgray;
    font-size: 0.6em;
}


a.play-icon {
    color: #999;
    padding-right: 0.5em;
    text-decoration: none;
}

.play-icon:hover {
    color: #333;
}


.album-meta {
    display: inline-block;
    text-align: right;
    margin-right: 0.2em;
}

.album-meta span {
    font-size: 0.7em;
    color: #888;
}

.album-details {
    display: inline-block;
}

.title-icon-rank {
    font-size: 0.5em;
    display: block;
    line-height: 0.15em;
    padding-left: 0.2em;
}
